body {
  background-color: rgb(212, 212, 255);
}

#main-stuff {
  text-align: center;
}

#cards-displayer {
  margin-top: 50px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  margin: 10px;
}

button {
  padding: 10px;
  background-color: rgb(255, 122, 122);
  border-radius: 5px;
  border: 1px solid rgb(255, 122, 122);
  margin: 10px;
}
